﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
    ViewBag.newGroupLink = true;
}

<dialog id="leaveGroup" class="leaveGroup">
    <span class="title">Czy jesteś pewien?</span>
    <p>Jeśli opuścisz grupę, ponowne dołączenie do niej będzie wymagać ponownego zaproszenia</p>
    <form action="/Group/LeaveGroup" method="post">
        <input type="hidden" name="sGroupId" id="groupId">

        <button class="btn btn-dialog btn-right">Opuść</button>
    </form>

    <a href="#" onclick="closeDialog('leaveGroup')" class="close-button"><span class="fas fa-times"></span></a>
</dialog>

<dialog id="newGroup" class="newGroup">
    <span class="title">Nowa grupa</span>
    <p>Wpisz nazwę tworzonej grupy</p>
    <form action="Group/NewGroup" method="post">
        <input type="text" name="groupName" id="groupName" class="form">

        <button class="btn btn-dialog btn-right">Utwórz</button>
    </form>

    <a href="#" onclick="closeDialog('newGroup')" class="close-button"><span class="fas fa-times"></span></a>
</dialog>


<div class="container">
    @if (ViewBag.numberOfGroups == 0)
    {
        <div class="no-groups">
            <span class="title">Nie należysz do żadnej grupy</span>
            <p>Możesz założyć własną grupę lub poprosić znajomych o zaproszenie.</p>
        </div>
    }
    else
    {
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th width="1">
                </th>
                <th>
                    Nazwa grupy
                </th>
                <th width="1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Group group in ViewBag.groups)
            {
                <tr>
                    <td>
                        <span class="fas fa-users"></span>
                    </td>
                    <td>
                        <a href="/Drive/Index/@group.id">@group.name</a>
                    </td>
                    <td>
                        <a href="#" onclick="openDialog('leaveGroup', {'groupId': '@group.id'})"><span class="fas fa-times"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
  
</div>

