﻿
@{
    Layout = null;
    ViewBag.Title = "Logowanie";
    @model User;
}

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="~/img/logo-title.png" alt="Group Cload" class="login-logo">
        </div>
        <div class="forms">
            <div class="login">
                <span class="section-title">Zaloguj się</span>
                @if (ViewBag.incorrectName != null)
                {
                    <div class="alert">@ViewBag.incorrectName</div>
                }
                @if (ViewBag.incorrectPassword != null)
                {
                    <div class="alert">@ViewBag.incorrectPassword</div>
                }
                <div class="form">
                    @using (Html.BeginForm("Login", "Login"))
                    {
                        <label for="name">Nazwa użytkownika</label>
                        @Html.EditorFor(User => User.name)
                        <label for="password">Hasło</label>
                        @Html.EditorFor(User => User.password)
                        <input type="submit" class="btn" value="Zaloguj">
                    }
                </div>
            </div>
            <div class="register">
                <span class="section-title">Zarejestruj się</span>
                <div class="form">
                    @if (ViewBag.newUser != null)
                    {
                        <div class="alert alert-success">@ViewBag.newUser</div>
                    }

                    @if (ViewBag.nameError != null)
                    {
                        <div class="alert">@ViewBag.nameError</div>
                    }

                    @if (ViewBag.passwordError != null)
                    {
                        <div class="alert">@ViewBag.passwordError</div>
                    }

                    @if (ViewBag.emailError != null)
                    {
                        <div class="alert">@ViewBag.emailError</div>
                    }
                    @using (Html.BeginForm("Register", "Login"))
                    {
                        <label for="name">Nazwa użytkownika</label>
                        @Html.EditorFor(User => User.name)
                        <label for="password">Hasło</label>
                        @Html.EditorFor(User => User.password)
                        <label for="email">Adres email</label>
                        @Html.EditorFor(User => User.email)
                        <input type="submit" class="btn" value="Zarejestruj">
                    }
                </div>
            </div>
        </div>
    </div>
</body>

</html>