:root {
    --main-color: rgb(0 176 248);
    --border-main-color: rgb(20 196 255);
    --font-color: #fff;
}

@font-face {
    font-family: KozGoPr6N-Bold;
    src: url(../KozGoPr6N-Bold.otf);
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: KozGoPr6N-Bold;
    margin: 0;
}

.container {
    min-width: 30vw;
    margin: auto;
    background-color: #333;
    border-radius: 3px;
    box-shadow: 0 0 2px #555;
    padding: 1rem;
}

.header {
    text-align: center;
}

.login-logo {
    width: 30vw;
}

.forms {
    display: flex;
}

.login,
.register {
    padding: 1rem;
}

.section-title {
    font-size: 1.25em;
    color: var(--font-color);
}

label{
    font-size: 1em;
    font-family: Verdana;
    color: #eee;
}

div.form input,
input.form,
.btn {
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
    border-radius: 3px;
    border: 0 solid #fff;
}

.btn {
    background-color: var(--main-color);
    border: 1px solid var(--border-main-color);
    box-shadow: 0 0 2 var(--border-main-color);
    color: var(--font-color);
}

.login,
.register {
    width: 50%;
}

.alert {
    color: #721c24;
    background-color: #f8d7da;
    padding: .5rem 1rem;
    border: 1px solid #f5c6cb;
    border-radius: .5rem;
    margin-bottom: 1rem;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}