:root {
    --main-dark: #333;
    --main-light: #fff;
    --main-font-color: #333;
    --light-font-color: #fff;
    --main-color: rgb(0 176 248);
    --form-background: rgba(255, 255, 255, 0);
}

@font-face {
    font-family: KozGoPr6N-Bold;
    src: url(../KozGoPr6N-Bold.otf);
}

.navbar {
    background-color: var(--main-dark);
    margin-bottom: 2rem;
}

.navbar-logo {
    width: 3rem;
}

.container {
    min-height: 65vh;
}

.table .thead-dark th {
    background-color: var(--main-dark);
}

.table a {
    color: var(--main-font-color);
}

.group-users {
    width: 25%;
}

.no-groups {
    background-color: var(--main-color);
    padding: 2rem;
    color: var(--light-font-color);
    background-image: url('../img/sad.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

.title {
    font-size: 1.5em;
    font-weight: bolder;
    font-family: KozGoPr6N-Bold;
}

footer {
    background-color: var(--main-dark);
    color: var(--light-font-color);
    padding: 2rem;
    margin-top: 2rem;
}

.credits-list,
.credits-list li ul {
    list-style: none;
}

.file-owner,
.file-date {
    width: 15%;
}

.file-options {
    width: .5rem;
    text-align: right;
}

dialog {
    background-color: var(--main-color);
    border: none;
    color: var(--light-font-color);
    min-width: 50vw;
    box-shadow: 0 0 2px var(--main-color);
    padding: 1rem;
    padding-top: 2.5rem;
    margin-top: 10%;
    position: fixed;
    top: 10vh;
}

.btn-dialog,
.btn-dialog:hover {
    background-color: var(--main-light);
    color: var(--main-color);
}

.upFile {
    background-image: url('../img/wink.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
}

.file-upload-wrapper {
    text-align: center;
    border: 3px dashed var(--light-font-color);
    border-radius: 1rem;
}

.file-upload {
    width: 100%;
    opacity: 0;
    padding: 2rem;
    display: block;
}

.selected-file {
    margin-top: -3.5rem;
    margin-bottom: 2rem;
}

.newCatalog {
    background-image: url('../img/surprised.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

.removeItem,
.leaveGroup {
    background-image: url('../img/crying.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-position-x: 70%;
}

.newGroup {
    background-image: url('../img/happy.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: 70%;
    background-size: contain;
}

.close-button {
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: var(--light-font-color);
    transition-duration: 1s;
}

.btn-right {
    margin-top: 1rem;
    float: right;
}

.form {
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 3px dashed #fff;
    color: var(--light-font-color);
    background-color: var(--form-background)
}

.form::placeholder {
    color: var(--light-font-color);
}

.form option {
    color: var(--main-font-color)
}

.invitation {
    background-color: var(--main-color);
    padding: 2rem;
    color: var(--light-font-color);
    width: 90vw;
    margin: 0 auto;
    min-height: 65vh;
    background-image: url('../img/cute.svg');
    background-repeat: no-repeat;
    background-position: top right;
}

.invitation .content {
    font-size: 1.5em;
    height: 40vh;
    max-width: 50vw;
}

.invitation .content .group-owner {
    text-align: right;
}

.error404 {
    height: 30vh;
    background-color: var(--main-color);
    padding: 2rem;
    color: var(--light-font-color);
    font-size: 1.5em;
    background-image: url('../img/shocked.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.alert-container{
    height: auto;
    min-height:unset;
}

@media(max-width: 1000px) {
    dialog {
        width: 100%;
    }
}