﻿
@{
    ViewData["Title"] = "Dysk";
    Layout = "~/Views/Shared/layout.cshtml";
    ViewBag.newFileLink = true;
    ViewBag.newCatalogLink = true;
    ViewBag.groupLink = true;
    ViewBag.newInvitation = true;
}

<dialog id="upFile" class="upFile">
    <span class="title">Wrzuć plik</span>
    <p>Wybierz plik lub przesuń go w oznaczony obszar!</p>
    <form asp-action="NewFile" asp-controller="Drive" asp-route-urlGroup="@ViewBag.group.id" asp-route-urlCatalog="@ViewBag.catalogId" method="post" enctype="multipart/form-data">
        <input type="hidden" value="@ViewBag.group.id" name="sGroupId">
        <div class="file-upload-wrapper">
            <input type="file" id="input-file" class="file-upload" name="uploadedFile">
            <div class="selected-file" id="selectedFile">Wybierz plik</div>
        </div>
        <button class="btn btn-dialog btn-right">Wyślij</button>
    </form>

    <a href="#" onclick="closeDialog('upFile')" class="close-button"><span class="fas fa-times"></span></a>
</dialog>

<dialog id="newCatalog" class="newCatalog">
    <span class="title">Nowy katalog</span>
    <p>Wpisz nazwę nowego katalogu</p>
    <form asp-action="NewCatalog" asp-controller="Drive" method="post">
        <input type="hidden" name="groupId" value="@ViewBag.group.id">
        <input type="hidden" name="currentCatalog" value="@ViewBag.catalogId">
        <input type="text" name="catalogName" id="catalogName" class="form">
        <button class="btn btn-dialog btn-right">Utwórz</button>
    </form>

    <a href="#" onclick="closeDialog('newCatalog')" class="close-button"><span class="fas fa-times"></span></a>
</dialog>

<dialog id="editCatalog" class="newCatalog">
    <span class="title">Ustawienia katalogu</span>
    <p>Wpisz nową nazwę katalogu</p>
    <form>
        <input type="text" name="newCatalogName" id="newCatalogName" class="form">

        <label for="editCatalogName">Edycja</label>
        <select name="editCatalogName" id="editCatalogName" class="form">
            <option value="all">Każdy</option>
            <option value="owner">Tylko właściciel</option>
        </select>

        <label for="removeCatalog">Usuwanie</label>
        <select name="removeCatalog" id="removeCatalog" class="form">
            <option value="all">Każdy</option>
            <option value="owner">Tylko właściciel</option>
        </select>

        <input type="hidden" name="catalogId" id="catalogId">

        <button class="btn btn-dialog btn-right">Zmień</button>
    </form>

    <a href="#" onclick="closeDialog('editCatalog')" class="close-button"><span class="fas fa-times"></span></a>
</dialog>

<dialog id="removeItem" class="removeItem">
    <span class="title">Czy jesteś pewien?</span>
    <p>Usunięcie elementu będzie nieodwracalne</p>
    <form>
        <input type="hidden" name="elementId" id="elementId">
        <input type="hidden" name="elementType" id="elementType">

        <button class="btn btn-dialog btn-right">Usuń</button>
    </form>

    <a href="#" onclick="closeDialog('removeItem')" class="close-button"><span class="fas fa-times"></span></a>
</dialog>

<dialog id="editFile" class="upFile">
    <span class="title">Ustawienia pliku</span>
    <p>Wpisz nową nazwę pliku</p>
    <form>
        <input type="text" name="newFileName" id="newFileName" class="form">

        <label for="editFile">Edycja</label>
        <select name="editFile" id="editFile" class="form">
            <option value="all">Każdy</option>
            <option value="owner">Tylko właściciel</option>
        </select>

        <label for="removeFile">Usuwanie</label>
        <select name="removeFile" id="removeFile" class="form">
            <option value="all">Każdy</option>
            <option value="owner">Tylko właściciel</option>
        </select>

        <input type="hidden" name="fileId" id="fileId">
        <button class="btn btn-dialog btn-right">Zmień</button>
    </form>

    <a href="#" onclick="closeDialog('editFile')" class="close-button"><span class="fas fa-times"></span></a>
</dialog>

<dialog id="newInvitation" class="newInvitation">
    <span class="title">Zaproszenie do grupy</span>
    <p>Wpisz imię osoby, którą chcesz zaprosić</p>
    <form asp-action="New" asp-controller="Invitation" method="post">
        <input type="text" name="userName" id="userName" class="form">
        <input type="hidden" name="groupId" id="groupId" value="@ViewBag.group.id">
        <button class="btn btn-dialog btn-right">Zaproś</button>
    </form>
    <a href="#" onclick="closeDialog('newInvitation')" class="close-button"><span class="fas fa-times"></span></a>
</dialog>

<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th width="1">
                </th>
                <th class="file-name">
                    Nazwa
                </th>
                <th class="file-owner">
                    Właściciel
                </th>
                <th class="file-date">
                    Data dodania
                </th>
                <th class="file-options">
                </th>
                <th class="file-options">
                </th>
                <th class="file-options">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Catalog catalog in ViewBag.catalogs)
            {
                <tr>
                    <td>
                        <span class="fas fa-folder"></span>
                    </td>
                    <td colspan="4">
                        <a asp-action="Index" asp-controller="Drive" asp-route-urlCatalog="@catalog.id">@catalog.name</a>
                    </td>
                    <td>
                        <a href="#" onclick="openDialog('editCatalog', {'catalogId': '@catalog.id', 'newCatalogName': '@catalog.name'})"><span class="fas fa-edit"></span></a>
                    </td>
                    <td>
                        <a href="#" onclick="openDialog('removeItem', {'elementId': '@catalog.id', 'elementType': 'catalog'})"><span class="fas fa-times"></span></a>
                    </td>
                </tr>
            }
            @foreach (File file in ViewBag.files)
            {
                <tr>
                    <td>
                        <span class="fas fa-file"></span>
                    </td>
                    <td>
                        @file.name
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        @file.creationDate
                    </td>
                    <td>
                        <a href="/Drive/DownloadFile/null/null/@file.id"><span class="fas fa-download"></span></a>
                    </td>
                    <td>
                        <a href="#" onclick="openDialog('editFile', {'fileId': 'ID', 'newFileName': 'Plik abcde', 'editFile': 'all', 'removeFile': 'owner'})"><span class=" fas fa-edit "></span></a>
                    </td>
                    <td>
                        <a href="#" onclick="openDialog('removeItem', {'elementId': 'ID', 'elementType': 'file'})"><span class="fas fa-times "></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

