﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/main.css">
    <title>@ViewBag.Title - GroupCloud</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><img src="~/img/cloud.svg" alt="Group Cload" class="navbar-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto mt-2 mt-lg-0">
                @if (ViewBag.newGroupLink == true)
                {
                    <a class="nav-item nav-link" href="#" onclick="openDialog('newGroup')">
                        <span class="fas fa-users-cog"></span> Nowa grupa
                    </a>
                }
                @if (ViewBag.newFileLink == true)
                {
                    <a class="nav-item nav-link" href="#" onclick="openDialog('upFile')">
                        <span class="fas fa-file-medical"></span> Nowy plik
                    </a>
                }
                @if (ViewBag.newCatalogLink == true)
                {
                    <a class="nav-item nav-link" href="#" onclick="openDialog('newCatalog')">
                        <span class="fas fa-folder-plus"></span> Nowy katalog
                    </a>
                }
                @if (ViewBag.groupLink == true)
                {
                    <a class="nav-item nav-link" href="/Group/Index">
                        <span class="fas fa-users"></span> Grupy
                    </a>
                }
                @if (ViewBag.newInvitation == true)
                {
                    <a class="nav-item nav-link" href="#" onclick="openDialog('newInvitation')">
                        <span class="fas fa-user-plus"></span> Nowe zaproszenie
                    </a>
                }
            </div>
            <div class="navbar-nav my-auto my-2 my-lg-0">
                <a class="nav-item nav-link" href="#">
                    <span class="fas fa-user"></span> @ViewBag.user.name
                </a>
                <a class="nav-item nav-link" href="#" onclick="openDialog('settings')">
                    <span class="fas fa-cog"></span> Ustawienia
                </a>
                <a class="nav-item nav-link" href="/Login/Logout">
                    <span class="fas fa-sign-out-alt"></span> Wyloguj
                </a>
            </div>
        </div>
    </nav>
    <dialog id="settings" class="settings">
        <span class="title">Ustawienia</span>
        <p>Zmiana hasła</p>
        <form action="/Settings/ChangePassword" method="post">
            <input type="password" name="oldPass" id="oldPass" class="form" placeholder="Obecne hasło">
            <input type="password" name="newPass" id="newPass" class="form" placeholder="Nowe hasło">
            <input type="password" name="newPass2" id="newPass2" class="form" placeholder="Powtórz nowe hasło">
            <button class="btn btn-dialog btn-right">Zapisz</button>
        </form>
        <a href="#" onclick="closeDialog('settings')" class="close-button"><span class="fas fa-times"></span></a>
    </dialog>
    <!--CONTENT----------------------------------------------------------------------------------------------------->
    @if (ViewBag.alertDanger != null)
    {
        <div class="container alert-container"><div class="alert alert-danger"><span class="glyphicon glyphicon-alert"></span> @ViewBag.alertDanger</div></div>
    }
    @if (ViewBag.alertSuccess != null)
    {
       <div class="container alert-container"><div class="alert alert-success"><span class="glyphicon glyphicon-alert"></span> @ViewBag.alertSuccess</div></div>
    }
    @RenderBody()
    <!--/CONTENT----------------------------------------------------------------------------------------------------->
    <footer>
        <div class="credits">
            <ul class="credits-list">
                <li>Kamil Sawicki i Aleksander Madejski</li>
                <li>
                    Grafiki
                    <ul>
                        <li> Icon made by Freepik from www.flaticon.com </li>
                        <li>Adrian Kut</li>
                    </ul>
                </li>
            </ul>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/main.js "></script>
</body>

</html>