﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class=" invitation">
    <div class="content">
        <span class="title">Otrzymałeś zaproszenie do grupy!</span>
        <p>Witaj @ViewBag.inv.userName. Zapraszam Cię do dołączenia do Naszej grupy @ViewBag.groupName.</p>
        <p class="group-owner">@ViewBag.inv.groupOwner</p>
    </div>
    <div class="question">
        <p>
            Czy chcesz dołączyć do tej grupy?
        </p>
        <a asp-controller="Invitation" asp-action="Accept" asp-route-urlGroup="@ViewBag.inv.token" class="btn btn-dialog">Dołącz</a>
        <a asp-controller="Invitation" asp-action="Deny" asp-route-urlGroup="@ViewBag.inv.token" class="btn btn-dialog">Odrzuć</a>
    </div>
</div>
