﻿
@{
    ViewData["Title"] = "New";
    Layout = "~/Views/Shared/layout.cshtml";
}
<div class=" invitation">
    <div class="content">
        <span class="title">Wyślij link do zaproszenia</span>
        <p>Skopiuj poniższy link i wyślij go do osoby, którą chcesz zaprosić do swojej grupy.</p>
        <input type="text" class="form" value="@ViewBag.invitationLink">
    </div>
</div>
